/* COLORES */

/* PARA LOS COLORES HAY ALTERNATIVAS COMO LAS SIGUIENTES */
a
{
    /*RGB*/ color: rgb(red, green, blue);
    /*PARA EL RGB ES SIMILAR AL HEXAGESIMAL, EL CAMBIO ES CON EL USO DE NÚMEROS DESDE EL 0 AL 255
    /*HEXAGESIMALES*/ color: #00F;
    /*PARA LOS COLORES EL 0 INDICA LA AUSENCIA DE COLOR ES DECIR (NEGRO),F ES LA MAYOR EXPRESIÓN DEL COLOR OSEA (BLANCO),
    TENEMOS DOS MANERAS DE INDICAR LOS COLORES, ES DECIR, CON 3 CARACTERES Y CON 6 CARACTERES */
} 

/* ASIGNAR BORDES  A UN ELEMENTO HTML */
a
{
    border: 5px black currentColor;
    /*ESTA PROPIEDAD SE DEFINEN 3 COSAS, LA CANTIDAD EN PIXELS QUE VAMOS A AGREGAR AL BORDE, EL COLOR Y EL TIPO DE BORDE
     QUE VAMOS A UTILIZAR HAY MAS OPCIONES COMO 
     DOTTED
     DASHED
     SOLID(EL MAS COMÚN)
     DOUBLE
     GROOVE
     RIDGE
     INSET
     OUTSET
     NONE
     HIDDEN.*/

}
/*EM ES UNA MEDIDA QUE ES RELATIVA DE ACUERDO A LA FUENTE QUE SE QUIERE EDITAR UN BORDE, ES DECIR, UNA FUENTE DE 12PX CON 2EM EL BORDE
SE VERÁ EL DOBLE DE TAMAÑO*/
/*TOP RIGHT LEFT CENTER BOTTOM SON POSICIONES */

a
{
    /*para el background hay muchas alternativas entre esas están: */
    background-color: ;
    background-image: url("");
    background-repeat: ;
    background-size: ;
    background-position: ;

}